/* GENERAL */

.logo {
  background-color: #F3E9F1;
}
.logo img {
  width: 70%;
}

a {
  text-decoration: none;
  color: black;
  font-size: larger;
}
a:hover {
  color: #db872c;
}

i {
  font-size: 25px;
}

/* PAGE INDEX.HTML */

.card:hover{
  transform: scale(1.02);
}

.couleurs {
  display: flex;
  justify-content: center;
}

.puce {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin: 0 4px;
  border: 1px solid;
}

/* PAGE PRODUIT */

.info {
  word-wrap: break-word;
}

/*PAGE PANIER */

input:invalid {
  border: red solid 1px;
}
input:valid {
  border: green solid 1px;
}